*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  position: relative;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(241, 241, 241);
  color: rgb(35, 18, 11);
}

.ffblackops {
  text-shadow: 1px 1px 1px rgb(35, 18, 11);
  color: rgb(241, 241, 241);
  font-family: "Black Ops One", "Montserrat", sans-serif;
}

.fc2 {
  color: rgb(253, 184, 39);
}

.wsn {
  word-spacing: normal;
}

.underline {
  margin: 0 auto;
  width: 100%;
  height: 4px;
  background-color: rgb(253, 184, 39);
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.underline-small {
  height: 2px;
  width: 50%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.underline-small-contact {
  width: 50%;
  background-color: rgb(33, 32, 156);
}

.fxblock {
  z-index: 5;
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 40px;
  background-color: rgb(241, 241, 241);
  color: rgb(35, 18, 11);
}
.fxblock_left {
  transform: skew(45deg);
  bottom: 0;
  left: -50px;
}
.fxblock_right {
  transform: skew(45deg);
  top: 0;
  right: -50px;
}

.welcome {
  position: relative;
  background-image: linear-gradient(rgba(32, 32, 156, 0.75), rgba(32, 32, 156, 0.75)), url("../img/start_small.jpg");
  background-position: center;
  background-attachment: scroll fixed;
  background-size: cover;
  height: 60vh;
  padding: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.welcome__txt {
  color: rgb(241, 241, 241);
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  text-shadow: 3px 3px 6px .welcome__txt rgb(35, 18, 11);
  padding: 10px;
}
.welcome__txt h1 {
  font-size: 3rem;
}
.welcome__btn {
  display: inline-block;
  font-weight: 800;
  color: .welcome__btn rgb(241, 241, 241);
  text-decoration: none;
  background-color: #185adb;
  padding: 1rem 2rem;
  width: 95%;
  font-size: 1.1em;
  border-radius: 10px;
  border: 5px solid #0a1931;
}

nav {
  z-index: 3;
  color: rgb(241, 241, 241);
}
nav .nav__logo .mobile_number {
  font-size: 16px;
}
nav .navbar-toggler {
  color: rgb(241, 241, 241);
  border: 2px solid rgb(241, 241, 241);
  background-color: rgba(35, 18, 11, 0.3);
}
nav .navbar-toggler i {
  font-size: 30px;
}
nav .nav__element {
  text-transform: uppercase;
}
nav .nav__element .nav-link {
  position: relative;
  font-size: 18px;
  color: rgb(241, 241, 241);
  padding: 10px 20px;
  text-decoration: none;
}
nav .nav__element .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: rgb(241, 241, 241);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in;
}
nav .nav__element .nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

nav .navbar-nav .nav-link.active,
nav .navbar-nav .show > .nav-link {
  font-weight: bold;
  color: rgb(241, 241, 241);
}
nav .navbar-nav .nav-link.active::after,
nav .navbar-nav .show > .nav-link::after {
  transform: scaleX(1);
  transform-origin: left;
}

#navbar {
  transition: background 0.8s;
}

main {
  color: rgb(35, 18, 11);
}

section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section1 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.section1 img {
  border-radius: 6px;
  box-shadow: 5px 5px 10px #000;
}

.section2 {
  position: relative;
  background-image: linear-gradient(rgba(32, 32, 156, 0.75), rgba(32, 32, 156, 0.75)), url("../img/iron640.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: rgb(241, 241, 241);
}
.section2 i {
  font-size: 2rem;
}
.section2 .fx {
  color: rgb(253, 184, 39);
}
.section2__offer_box {
  margin: 20px;
  transition: 0.2s;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 7px;
}
.section2__offer_box-active {
  transform: scale(1.1);
}
.section2__offer_box ul {
  list-style: none;
}
.section2__offer_box:hover {
  box-shadow: 1px 1px 3px rgb(33, 32, 156);
  background-color: rgba(0, 0, 0, 0.5);
}
.section2__txt {
  margin-top: 3rem;
}
.section2 .button {
  margin: 10px 0 20px 0;
  color: rgb(241, 241, 241);
  text-decoration: none;
  padding: 2rem 4rem;
  font-size: 1.3em;
  border: 3px solid rgb(253, 184, 39);
  border-radius: 10px;
  transition: 0.4s;
}
.section2 .button:hover {
  color: rgb(35, 18, 11);
  font-weight: 700;
  background-color: rgb(253, 184, 39);
}

.section3 {
  margin-top: 100px;
}

footer {
  position: relative;
  background-image: linear-gradient(rgba(32, 32, 156, 0.75), rgba(32, 32, 156, 0.75)), url("../img/footer_small.jpg");
  background-position: center;
  background-attachment: local;
  background-size: cover;
  color: rgb(241, 241, 241);
}
footer a {
  text-decoration: none;
  color: rgb(241, 241, 241);
}
footer a:hover {
  color: rgb(253, 184, 39);
}

@media (min-width: 768px) {
  .welcome {
    background-image: linear-gradient(rgba(32, 32, 156, 0.75), rgba(32, 32, 156, 0.75)), url("../img/start_big.jpg");
  }
  .section2 {
    background-image: linear-gradient(rgba(32, 32, 156, 0.75), rgba(32, 32, 156, 0.75)), url("../img/iron1920.jpg");
  }
  footer {
    background-image: linear-gradient(rgba(32, 32, 156, 0.75), rgba(32, 32, 156, 0.75)), url("../img/footer_big.jpg");
  }
}/*# sourceMappingURL=style.css.map */